html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1e21;
    /*background-color: #f0f2f5; light mode*/
    font-family: Helvetica, sans-serif;
    line-height: 1.34;
}

p {
    margin: 0;
    padding: 0;
}