.logo {
    width: 200px;
}

.facebook-container {
    display: flex;
    flex-direction: column;
    margin-top: 8vw;
    margin-left: 8vw;
}

.recent-container {
    margin-left: 20px;
    margin-top: -20px;
    line-height: 0;
}

.recent {
    color: #cfc7c7;
    font-size: 30px;
}

.recent-info {
    color: #c4c3c3;
    font-size: 15px;
}

.account-container {
    display: grid;
    grid-template-columns: 170px 170px;
    column-gap: 20px;
    margin-top: 27px;
    margin-left: 10%;
}

.first-container {
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 8px;
    height: 110%;
    width: 170px;
    background-color: #434343;
    border: 1px solid #434343;
    box-shadow: 1px 2px 3px #333333;
    transition: bo;
}

.first-container:hover {
    box-shadow: 0 2px 16px #333333;
    transition: box-shadow 0.50s;
}

.account-pic {
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.pic-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.name-container, .name-container2 {
    position: absolute;
    top: 132px;
    padding: 0 62px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #434343;
    box-shadow: 1px 1px 3px #333333;
}

.name-container p {
    color: #d8d8d8;
    font-size: 18px;
}

.notification-count {
    position: absolute;
    right: -4px;
    top: -5px;
    background-color: red;
    color: white;
    padding: 3px 7px;
    font-size: 13px;
    border-radius: 50%;
}

.remove {
    position: absolute;
    left: 4px;
    top: 5px;
    background-color: rgba(40, 40, 40, 0.5);
    color: white;
    font-weight: bold;
    padding: 0 4px 2px 4px;
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
}

#add {
    font-size: 18px;
    color: #0083ff;
    white-space: nowrap;
    cursor: pointer;
}

.name-container2 {
    padding: 0 35px;
}

.plus-icon-container {
    margin-top: 50px;
}

.big-container {
    display: flex;
    width: 400px;
    height: 360px;
    flex-direction: column;
    align-items: center;
    margin-left: 56%;
    margin-top: -22%;
    box-shadow: 1px 3px 8px #333333;
    background-color: #434343;
    border-radius: 10px;
    margin-bottom: 220px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
}

.input-container input {
    width: 330px;
    height: 45px;
    background-color: #595d5a;
    border: 1px solid #b8cbd5;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 16px;
}

input:focus {
    outline-color: #719ece;
    border: none;
    background-color: white;
}

#password-detail {
    position: relative;
}

#eye-container {
    position: absolute;
    margin-left: 21pc;
    margin-top: -35px;
    cursor: pointer;
}

#login {
    height: 50px;
    font-size: 20px;
    width: 372px;
    font-weight: bold;
    border: none;
    background-color: #0083ff;
    border-radius: 7px;
    cursor: pointer;
}

#login a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

#login {
    color: white;
}

#login:hover {
    background-color: #0070ff;
}

#forgot-password {
    font-size: 14px;
}

#forgot-password a:-webkit-any-link {
    color: #0083ff;
    text-decoration: none;
}

#forgot-password:hover {
    text-decoration: underline;
}

#create {
    height: 50px;
    width: 210px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    margin-top: 14px;
    background-color: #2eaf2e;
}

#create:hover {
    background-color: #2e9e2f;
}

#create a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

#end {
    font-size: 14px;
    margin-top: 25px;
    color: white;
}

hr {
    width: 320px;
    border-top: 0 solid gray;
}

.country-container {
    background-color: #434343;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 212px;
}

.country-cover {
    width: 980px;
    padding: 20px 100px;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 12px;
    color: #a5a5a5;
    align-items: center;
}

ul li {
    padding: 0 10px;
    line-height: 1.6;
}

#line {
    width: 1000px;
    border-top: 1px solid #e1e1e1;
    margin-left: 50px;
    opacity: 0.4;
}

.fa {
    font-size: 12px;
}

button {
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    width: 25px
}

#ply {
    margin-left: -20px;
    padding-top: 5px;
}

#services {
    width: 980px;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

#page {
    color: #d8d8d8;
    font-weight: bold;
    text-decoration: none;
}

#page:hover {
    text-decoration: underline;
}

@media (max-width: 540px) {
    .big-container {
        width: 350px;
        height: 360px;
        margin-left: 0 !important;
        margin-top: 5%;
        box-shadow: 1px 3px 8px #333333;
        background-color: #434343;
        border-radius: 10px;
        margin-bottom: 220px;
    }

    .main-cover {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    section {
        display: flex;
        justify-content: right;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .account-container {
        width: 250px;
        height: 150px;
    }

    .name-container, .name-container2 {
        width: 113px;
        top: 110px;
        padding: 7px 0 0 0;
        display: flex;
        justify-content: center;
    }

    .plus-icon-container {
        margin-top: 30px;
    }

    .name-container p {
        font-size: 14px;
    }

    #add {
        font-size: 14px;
    }

    .facebook-cover {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .second-main-cover, .recent-container, .facebook-container, .big-container, .account-container {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .account-container {
        flex-direction: row;
    }

    .recent {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .facebook-container {
        margin-top: 1vw;
    }

    .account-container {
        margin-top: 0;
    }

    .country-container {
        width: 100%;
        height: 330px;
    }

    .country-cover {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        width: 100%;
        white-space: nowrap;
    }

    .input-container input {
        width: 280px;
        margin-left: 5px;
    }

    #languages, #services {
        display: flex;
        width: 353px;
        flex-wrap: wrap;
    }

    #login {
        width: 320px;
        margin-left: 5px;
    }

    #eye-container {
        margin-left: 19pc;
    }

    ul {
        padding-left: 5px;
    }

    #line {
        margin-left: 5px;
        width: 340px !important;
        opacity: 0.4;
    }


}

@media (min-width: 541px) and (max-width: 979px) {
    .big-container {
        width: 350px;
        height: 360px;
        margin-left: 0 !important;
        margin-top: 5%;
        box-shadow: 1px 3px 8px #333333;
        background-color: #434343;
        border-radius: 10px;
        margin-bottom: 220px;
    }

    .main-cover {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    section {
        display: flex;
        justify-content: right;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .account-container {
        width: 250px;
        height: 150px;
    }

    .name-container, .name-container2 {
        width: 113px;
        top: 110px;
        padding: 7px 0 0 0;
        display: flex;
        justify-content: center;
    }

    .plus-icon-container {
        margin-top: 30px;
    }

    .name-container p {
        font-size: 14px;
    }

    #add {
        font-size: 14px;
    }

    .facebook-cover {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .second-main-cover, .recent-container, .facebook-container, .big-container, .account-container {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .account-container {
        flex-direction: row;
    }

    .recent {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .facebook-container {
        margin-top: 1vw;
    }

    .account-container {
        margin-top: 0;
    }

    .country-container {
        width: 100%;
        height: 310px;
    }

    .country-cover {
        padding-left: 45px;
        padding-right: 45px;
        padding-bottom: 0;
        width: 100%;
        white-space: nowrap;
    }

    .input-container input {
        width: 280px;
        margin-left: 5px;
    }

    #languages, #services {
        display: flex;
        width: 540px !important;
        flex-wrap: wrap;
    }

    #login {
        width: 320px;
        margin-left: 5px;
    }

    #eye-container {
        margin-left: 19pc;
    }

    ul {
        padding-left: 5px;
    }

    #line {
        margin-left: 5px;
        width: 880px !important;
        opacity: 0.4;
    }
}

@media (min-width: 980px) and (max-width: 1080px) {
    .big-container {
        display: flex;
        width: 400px;
        height: 360px;
        flex-direction: column;
        align-items: center;
        margin-left: 54%;
        margin-top: -27%;
        box-shadow: 1px 3px 8px #333333;
        background-color: #434343;
        border-radius: 10px;
        margin-bottom: 220px;
    }

    .country-cover {
        width: 980px;
        padding: 20px 80px 0 2px;
    }
}