p {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.mid-entire-cover {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.status-cover-container {
    display: flex;
    position: relative;
}

.status-cover {
    display: inherit;
    flex: 1;
    gap: 10px;
    max-width: 650px;
    justify-content: space-evenly;
}

.box {
    display: inherit;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    width: 120px;
    height: 200px;
    border: none;
    border-radius: 10px;
    background-color: #434343;
}

.box:hover,
.online-next, .media-cover,
.create-room, .each-section,
.online-room, .username,
.post-user-pic,
.posts-image-vid-files img {
    cursor: pointer;
}

.like-emoticon:hover,
.comment-emoticon:hover,
.share-emoticon:hover,
.comment-message-icon:hover {
    cursor: pointer;
    transition: color 0.4s;
    color: #0083ff;
}

.profile {
    position: absolute;
    height: 220px;
}

.lion {
    height: 240px;
}

.alucard {
    height: 200px;
}

.box .story-cover, .story-cover2 {
    align-self: flex-end;
}

.story-cover,
.story-cover2 {
    display: inherit;
    flex-direction: column;
    position: absolute;
    background-color: #434343;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.story-cover2 {
    background-color: transparent;
}


.story-plus-icon {
    display: inherit;
    align-items: center;
    justify-content: center;
    background-color: #434343;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: -15px;
}

.pic-online {
    position: absolute;
    top: 30px;
    left: 10px;
    background-color: transparent;
    border: 4px solid #0083ff;
    color: #0015;
}

.online-next {
    background-color: #434343;
    border: none;
    top: 130px;
    left: 620px;
    color: #939393;
}

.create-room-cover-container {
    display: inherit;
    position: relative;
    align-items: inherit;
}

.online-room {
    position: absolute;
    background-color: #434343;
    border: none;
    top: 15px;
    left: 350px;
    color: #939393;
}

.on-top {
    left: 10px;
}

#add-plus {
    height: 33px;
    margin-left: -1px;
}

#create-story-text,
.create-story-text {
    font-size: 13px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.names {
    margin-top: 20px;
    width: 100px;
}

.mind-cover {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 120px;
    gap: 5px;
    background-color: #313131;
    border-radius: 10px;
}

.mind-input {
    display: inherit;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    margin-top: 5px;
}

.post-input {
    margin-top: 0;
    height: auto;
    padding-bottom: 10px;
}

.mind-input img {
    height: 40px;
    border-radius: 20px;
}

.post-input img {
    height: 35px
}

.mind-input input {
    width: 430px;
    padding: 12px 0 12px 12px;
    border-radius: 25px;
    border: none;
    background-color: #515151;
}

.post-input input {
    padding: 10px 0 10px 10px;
}

#text-mind::placeholder,
.post-mind::placeholder {
    font-size: 16px;
    color: #939393;
}

.post-mind::placeholder {
    font-size: 14px;
}

.heart-icon {
    margin-right: -5px;
}

.care-icon {
    margin-left: -5px;
}

.mind-split {
    border-top: 0 solid white;
    opacity: 0.2;
    width: 470px;
    margin-top: 2px;
}

.mind-media {
    display: inherit;
    justify-content: space-evenly;
    color: #d3d3d3;
    font-weight: bold;
    font-size: 14px;
    margin-top: 7px;
}

.media-cover {
    display: inherit;
    align-items: center;
    gap: 8px;
}

.live-video {
    color: #fd4a56;
}

.photo-video {
    color: rgba(57, 228, 134, 0.65);
}

.smiley {
    color: #e3c215;
}

.create-room-cover {
    flex-direction: row;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
}

.create-room {
    position: relative;
    display: inherit;
    width: 165px;
    height: 39px;
    border: 2px solid rgba(36, 103, 152, 0.4);
    border-radius: 45px;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #3e9dfa;
    justify-content: center;
    gap: 10px;
}

.fa-gradient:before {
    background-image: -webkit-linear-gradient(left, #3e9dfa 10%, #9c64b8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.all-profiles {
    display: inherit;
    width: 250px;
    color: #939393;
    justify-content: space-evenly;
}

.each-section {
    position: relative;
}

.online, .online-on-top {
    position: absolute;
    left: 18px;
    top: 30px;
    width: 10px;
    height: 10px;
    background-color: #2eaf2e;
}

.online-on-top {
    left: 25px;
    top: 35px;
}

.posts {
    height: auto;
    padding-bottom: 10px;
}

.posts-top {
    display: inherit;
    align-items: center;
    gap: 8px;
}

.post-user-pic {
    font-size: 2.3em;
    color: #939393;
}

.post-user-info .username {
    font-weight: bold;
    color: #d8d8d8;
}

.posts-text-width p {
    color: #d8d8d8;
    white-space: pre-line;
    margin-top: -45px;
}

.post-user-info .post-time {
    font-size: 0.8em;
    color: #939393;
}

.post-time {
    display: flex;
    align-items: center;
    gap: 6px;
}

.circle-size {
    font-size: 0.1em;
}

.menu-eclipse {
    position: absolute;
    display: inherit;
    top: 35px;
    align-self: flex-end;
    color: #939393;
    padding-right: 25px;
}

.posts-image-vid-files {
    display: inherit;
    flex-direction: column;
    flex: 1;
}

.posts-top, .posts-text-width {
    padding: 10px 25px;
}

.emoticons,
.post-emoticons {
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #939393;
    margin: 2px 0;
}

.post-emoticons {
    margin-left: 20px;
}

.post-emoticons {
    justify-content: normal;
    gap: 10px;
}

.reacts {
    display: inherit;
    height: 18px;
}

.reacted-people {
    font-size: 15px;
    color: #a5a5a5;
}

.emoticons p {
    font-weight: bold;
    font-size: 14px;
}

.fa-thumbs-up,
.comment-message-icon,
.share-icon {
    font-size: 18px;
}

.like-emoticon,
.comment-emoticon,
.share-emoticon {
    display: flex;
    gap: 5px;
}

.input-text-container {
    display: inherit;
    position: relative;
}

.input-icons-container {
    position: absolute;
    top: 10px;
    left: 22.4rem;
    display: flex;
    margin-left: -20px;
    align-items: center;
    color: #939393;
    gap: 10px;
    font-size: 15px;
}

.input-icons-container i:hover,
.previous-comment-container p:hover,
.comment-cover-container i:hover,
.comment-container .name-head:hover,
.reply-comment-container p:hover,
.next-comment-container:hover {
    cursor: pointer;
    color: #d8d8d8;
    transition: color 0.4s;
}

.post-tooltip {
    display: inherit;
    margin: -1em 0 0 4rem;
    font-size: 12px;
    color: #cfc7c7;
}

.previous-comment-container,
.next-comment-container {
    display: inherit;
    font-weight: bold;
    justify-content: space-between;
    margin: -4px 16px 10px 16px;
    color: #ababab;
    font-size: 14px;
}

.next-comment-container {
    justify-content: normal;
    margin: -5px 0 3px 16px;
}

.comment-cover-container {
    display: inherit;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 8px;
    margin-left: 16px;
    color: #cacaca;
    gap: 5px;
}



.fa-comment-user {
    align-self: flex-start;
}


.comment-container {
    display: inherit;
    flex-direction: column;
    background-color: #515151;
    margin-top: -17px;
    padding: 10px;
    border-radius: 20px;
}

.name-head {
    font-weight: bold;
    font-size: 14px;
}

.comment-text {
    font-size: 14px;
}

.reply-comment-container {
    display: inherit;
    justify-content: space-between;
    width: 100px;
    font-size: 13px;
    color: #9a9a9a;
    margin: -10px 0 10px 75px;
}
