@media (max-width: 700px) {
    .left-sidebar,
    .right-sidebar,
    .middle-section,
    .online-next,
    .online-room {
        display: none;
    }

    .mid-entire-cover {
        margin-bottom: 5px;
    }

    .header-container {
        height: 65px;
    }

    .menu-eclipse {
        top: 25px;
    }

    #fb-logo {
        height: 40px;
    }

    .right-section div {
        width: 40px;
        height: 40px;
    }

    .left-section {
        max-width: 120px;
        margin-top: 0;
    }

    #search {
        width: 40px;
        height: 40px;
    }

    #search-icon {
        margin-top: 10px;
    }

    #search::placeholder {
        padding: 0;
        color: transparent;
    }

    .status-cover-container,
    .all-profiles, .create-room-cover-container {
        overflow-x: auto;
        max-width: 343px;
    }

    main {
        margin-top: 32px;
    }

    .create-room-cover-container {
        width: 330px;
        gap: 7px;
        justify-content: space-between;
    }

    .all-profiles {
        width: 172px;
        gap: 10px;
        padding: 10px 0;
        margin-right: 7px;
    }

    .box {
        height: 150px;
        width: 100px;
    }

    .create-room {
        margin-left: 7px;
    }

    .profile {
        height: 200px;
    }

    .names {
        margin-left: 20px;
    }

    .mind-cover {
        max-width: 360px;
    }

    .mind-input input {
        width: 280px;
    }

    .mind-split {
        display: inherit;
        width: 330px;
        margin-top: 8px;
    }

    .mind-media {
        font-size: 13px;
    }

    .media-cover {
        gap: 5px;
    }

    .create-room-cover {
        padding: 8px 0;
    }


    .online-room {
        left: 270px;
    }

    .input-icons-container {
        left: 15rem;
    }

    .input-icons-container i:nth-child(odd) {
        display: none;
    }
}