p {
    margin: 0;
    padding: 0;
}

.header-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(50, 50, 50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 20px;
    background-color: #232323;
}

.left-section {
    display: flex;
    flex: 1;
    max-width: 330px;
    align-items: center;
    margin-top: 5px;
    gap: 5px;
}

#fb-logo {
    height: 43px;
    margin: 10px 8px 0 15px;
}

#fb-logo:hover {
    cursor: pointer;
}

.search-box-container {
    display: flex;
    margin-top: 5px;
}

#search {
    width: 257px;
    height: 42px;
    border: none;
    border-radius: 25px;
    background-color: #434343;
    margin-left: -0.3rem;
    padding: 1px 0 0 0;
    position: relative;
}

.search-icon-container {
    position: absolute;
}

#search-icon {
    height: 22px;
    margin: 11px 0 0 5px;
}

#search::placeholder {
    color: white;
    font-size: 16px;
    padding-left: 35px;
}

.middle-section {
    display: flex;
    flex: 1;
    margin-left: -50px;
    max-width: 600px;
    align-items: center;
    justify-content: space-evenly;
}

.middle-section img {
    height: 27px;
}

.fa-home, .fa-video, .fa-newspaper, .fa-people-group, .fa-message {
    color: #636363;
}

.middle-section i:hover {
    color: #0083ff;
    cursor: pointer;
    transition: color 0.40s;
}

.right-section {
    display: flex;
    flex: 1;
    max-width: 220px;
    align-items: center;
    justify-content: space-evenly;
}

.right-section div:hover {
    cursor: pointer;
}

.hamburger-cover,
.messenger-cover,
.bell-cover,
.image-cover,
.group-cover {
    display: flex;
    color: #cfc7c7;
    width: 45px;
    height: 45px;
    background-color: #434343;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.group-cover {
    width: 35px;
    height: 35px;
}

#pic {
    height: 45px;
    border-radius: 25px;
}

div::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    display: none;
}

.left-sidebar:hover::-webkit-scrollbar,
.right-sidebar:hover::-webkit-scrollbar{
    display: block;
}

div::-webkit-scrollbar-thumb {;
    background-color: #434343;
    border: none;
    border-radius: 10px;
}

div::-webkit-scrollbar-track {
    background-color: #1c1e21;
}

div::-webkit-scrollbar-thumb:hover {
    background-color: #535353;
}

.left-sidebar, .right-sidebar {
    position: absolute;
    overflow-y: scroll;
    top: 85px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 10;
    padding-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right-sidebar {
    left: 1040px;
}

.sidebar-item, .sidebar-item2,
.sidebar-item3, .sidebar-item4,
.sidebar-item5 {
    display: flex;
    gap: 10px;
    font-size: 0.9em;
    align-items: center;
}

.sidebar-item img {
    height: 30px;
    border-radius: 15px;
}

.sidebar-item {
    color: white;
}

.sidebar-item2, .sidebar-item3,
.sidebar-item5 {
    color: white;
    width: 200px;
}

.sidebar-item:hover,
.sidebar-item2:hover,
.sidebar-item5 {
    cursor: pointer
}

.sidebar-item3:hover p {
    cursor: pointer;
}

.sidebar-item4:hover p {
    cursor: pointer
}

.sidebar-item2 img {
    height: 30px;
    border-radius: 8px;
}

.sidebar-item2 .gomsd {
    border-radius: 15px;
}

.sidebar-item3 img {
    height: 50px;
    border-radius: 25px;
}

.angle-down {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: #cfc7c7;
    align-items: center;
    justify-content: center;
    background-color: #434343;
}

.angle-down i {
    padding-top: 2px;
}

#divider, .divider2 {
    width: 250px;
    border-top: 0 solid #e1e1e1;
    margin: 8px 0;
    opacity: 0.2;
}

.divider2 {
    width: 290px;
}

.shortcut, .requests {
    display: flex;
    align-items: center;
    margin-top: -10px;
}

#edit, #see {
    margin: 0 0 0 90px;
    color: #0083ff;
}

#birth {
    margin: 0 0 0 140px;
    color: #0083ff;
}

#edit:hover, #see:hover, #birth:hover {
    cursor: pointer
}

h3 {
    margin: 0;
    color: #bdb5b5;
}

.terms-cover {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px 0;
    width: 250px;
    padding: 0;
    list-style-type: disc;
    list-style-position: outside;
    color: #bdb5b5;
}

.terms-cover li {
    font-size: small;
    padding-right: 25px;
    line-height: 1.44;
}

li[id="privacy"], li[id="meta"] {
    list-style-type: none;
}

li[id="ads"] {
    display: flex;
}

main {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    font-size: 100px;
}

.top-section {
    display: inherit;
    flex-direction: column;
    padding-left: 20px;
    gap: 10px;
}

.icons {
    display: inherit;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

.icons p {
    font-weight: bold;
    color: #939393;
}

.icons i {
    color: #636363;
}

.icon-messages {
    margin-left: -2px;
}

#notifications, #promotion {
    padding-left: 3px;
}

.info {
    display: inherit;
    flex-direction: column;
    gap: 5px;
}

.sidebar-item3 .picture {
    align-self: flex-start;
}

.info p:first-child {
    text-align: justify;
    font-size: 14px;
    font-weight: bold;
}

.name {
    display: inherit;
    flex: 1;
    width: 220px;
    justify-content: space-between;
}

#days {
    font-size: 13px;
    color: #939393;
}

.friend-friends {
    display: inherit;
    align-items: center;
    font-size: small;
    gap: 5px;
    color: #939393;
    margin-bottom: 6px;
}

.friend-friends img {
    height: 20px;
    border-radius: 0;
}

.buttons {
    display: inherit;
    gap: 10px;
}

button:hover {
    cursor: pointer;
}

#confirm, #delete {
    padding: 10px 17px 10px 17px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #0083ff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#delete {
    padding: 10px 19px 10px 19px;
    background-color: #434343;
}

.present {
    align-self: flex-start;
}

.sidebar-item4 {
    color: white;
}

.contacts-cover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -10px;
}

.contact-icons {
    display: inherit;
    gap: 20px;
    color: #bdb5b5;
}

.fa-gdp {
    color: #b8cbd5;
}